<!doctype html>
<html lang="ja">

<head>
    <title>性格診断</title>
    <meta charset="utf-8" />
</head>

<body>
    <a href="/">TOPへ戻る</a>
    <h1>性格診断のページだよ！</h1>
    <div class="seikakuform">
        <form action="/seikaku2" method="POST">
            <label><input type="checkbox" name="fav" value="マイペース">マイペース</label>
            <label><input type="checkbox" name="fav" value="せっかち">せっかち</label>
            <label><input type="checkbox" name="fav" value="ポジティブ">ポジティブ</label>
            <label><input type="checkbox" name="fav" value="ネガティブ">ネガティブ</label>
            <label><input type="checkbox" name="fav" value="人懐っこい">人懐っこい</label>
            <label><input type="checkbox" name="fav" value="サバサバ">サバサバ</label>
            <label><input type="checkbox" name="fav" value="正直">正直</label>
            <label><input type="checkbox" name="fav" value="恥ずかしがり屋">恥ずかしがり屋</label>
            <label><input type="checkbox" name="fav" value="目立ちたがり屋">目立ちたがり屋</label>
            <label><input type="checkbox" name="fav" value="甘えん坊">甘えん坊</label>
            <input type="submit" value="私の性格を送信!">
        </form>
    </div>
    <a href="/">TOPへ戻る</a>
</body>

</html>